---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Gallery from "../components/Gallery.astro";
import Download from "../components/Download.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="NutriNutri - Private AI Nutrition Tracker">
	<Navbar />

	<main>
		<Hero />
		<Features />
		<Gallery />
		<Download />
	</main>

	<Footer />
</Layout>
